spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

server:
  port: 9898

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8671/eureka/

application:
  service:
    authen-service:
      url: http://authen-service:8081
      name: authen-service